# Mais sobre `SELECT`

- temporary tables
- views
- variables
- subqueries

In [1]:
from functools import partial
from dotenv import load_dotenv
import insperautograder.jupyter as ia
import mysql.connector
import os

load_dotenv(override=True)

connection = mysql.connector.connect(
    host=os.getenv("MD_DB_SERVER"),
    user=os.getenv("MD_DB_USERNAME"),
    password=os.getenv("MD_DB_PASSWORD"),
    database="sakila"
)

def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print("Executando query:")
        cursor.execute(query, args)
        for result in cursor:
            print(result)

db = partial(run_db_query, connection)

## Exercícios para entrega

Esta aula tem atividade para entrega, confira os prazos e exercícios

In [2]:
ia.tasks()

|    | Atividade    | De                        | Até                       |
|---:|:-------------|:--------------------------|:--------------------------|
|  0 | newborn      | 2024-02-01 03:00:00+00:00 | 2024-05-30 03:00:00+00:00 |
|  1 | select01     | 2024-02-08 03:00:00+00:00 | 2024-02-19 02:59:59+00:00 |
|  2 | ddl          | 2024-02-22 03:00:00+00:00 | 2024-02-27 02:59:59+00:00 |
|  3 | dml          | 2024-02-26 03:00:00+00:00 | 2024-03-03 02:59:59+00:00 |
|  4 | group_having | 2024-02-29 03:00:00+00:00 | 2024-03-12 02:59:59+00:00 |
|  5 | agg_join     | 2024-02-29 03:00:00+00:00 | 2024-03-05 02:59:59+00:00 |
|  6 | views        | 2024-02-29 03:00:00+00:00 | 2024-03-20 02:59:59+00:00 |
|  7 | sql_review1  | 2024-03-11 03:00:00+00:00 | 2024-03-20 02:59:59+00:00 |
|  8 | permissions  | 2024-03-18 03:00:00+00:00 | 2024-03-19 02:59:59+00:00 |

In [3]:
ia.grades(by="task")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |  10    |
|  1 | ddl          |  10    |
|  2 | dml          |  10    |
|  3 | group_having |  10    |
|  4 | newborn      |  10    |
|  5 | permissions  |   5.38 |
|  6 | select01     |  10    |
|  7 | sql_review1  |   4    |
|  8 | views        |   9.17 |

In [4]:
ia.grades(task="views")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | views       | ex01        |      1 |     10 |
|  1 | views       | ex02        |      1 |     10 |
|  2 | views       | ex03        |      1 |     10 |
|  3 | views       | ex04        |      1 |     10 |
|  4 | views       | ex05        |      1 |     10 |
|  5 | views       | ex06        |      1 |     10 |
|  6 | views       | ex07        |      1 |     10 |
|  7 | views       | ex08        |      1 |     10 |
|  8 | views       | ex09        |      1 |     10 |
|  9 | views       | ex10        |      1 |     10 |
| 10 | views       | ex11        |      1 |     10 |
| 11 | views       | ex12        |      1 |      0 |

## Aquecimento

Quanta receita foi gerada para cada categoria de filmes? Mostre o nome da categoria e a receita. Ordene da maior receita para para a menor.

In [5]:
sql_ex01 = """
    SELECT c.name, SUM(p.amount) AS total
    FROM payment p
    INNER JOIN rental r ON p.rental_id = r.rental_id
    INNER JOIN inventory i ON r.inventory_id = i.inventory_id
    INNER JOIN film f ON i.film_id = f.film_id
    INNER JOIN film_category fc ON f.film_id = fc.film_id
    INNER JOIN category c ON fc.category_id = c.category_id
    GROUP BY c.name
    ORDER BY total DESC
    
"""

db(sql_ex01)

Executando query:
('Sports', Decimal('5314.21'))
('Sci-Fi', Decimal('4756.98'))
('Animation', Decimal('4656.30'))
('Drama', Decimal('4587.39'))
('Comedy', Decimal('4383.58'))
('Action', Decimal('4375.85'))
('New', Decimal('4351.62'))
('Games', Decimal('4281.33'))
('Foreign', Decimal('4270.67'))
('Family', Decimal('4226.07'))
('Documentary', Decimal('4217.52'))
('Horror', Decimal('3722.54'))
('Children', Decimal('3655.55'))
('Classics', Decimal('3639.59'))
('Travel', Decimal('3549.64'))
('Music', Decimal('3417.72'))

In [6]:
ia.sender(answer="sql_ex01", task="views", question="ex01", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex01', style=ButtonStyle()), Output()), _dom_classes=('widget…

Liste os 10 filmes mais alugados e o numero de vezes em que foram alugados. Ordene do mais alugado para o menos alugado.

In [7]:
sql_ex02 = """
SELECT f.title, COUNT(f.film_id) as qtd 
FROM rental as r
INNER JOIN inventory i on r.inventory_id = i.inventory_id
INNER JOIN film f ON i.film_id = f.film_id
GROUP BY f.title
ORDER BY qtd DESC
LIMIT 10
"""

db(sql_ex02)

Executando query:
('BUCKET BROTHERHOOD', 34)
('ROCKETEER MOTHER', 33)
('RIDGEMONT SUBMARINE', 32)
('GRIT CLOCKWORK', 32)
('SCALAWAG DUCK', 32)
('JUGGLER HARDLY', 32)
('FORWARD TEMPLE', 32)
('HOBBIT ALIEN', 31)
('ROBBERS JOON', 31)
('ZORRO ARK', 31)

In [8]:
ia.sender(answer="sql_ex02", task="views", question="ex02", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex02', style=ButtonStyle()), Output()), _dom_classes=('widget…

**DESAFIO:** Liste os filmes e o numero de vezes em que foram alugados apenas para filmes que foram alugados mais do que a média de numero de alugueis por filme. *Dica*: Serão necessários múltiplos SELECTs. Faça cada um em uma célula diferente.

In [9]:
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")
db("""
-- SUA QUERY AQUI!
""")

Executando query:
Executando query:
Executando query:
Executando query:

## Views

Uma *view* é uma tabela virtual, construida a partir de um comando `SELECT`. Por exemplo: execute o código a seguir.

In [10]:
db("""
DROP VIEW IF EXISTS movie_count;
""")

db("""
CREATE VIEW movie_count AS
    SELECT 
        title, COUNT(rental_id) as cnt
    FROM
        film
        LEFT OUTER JOIN inventory USING (film_id)
        LEFT OUTER JOIN rental USING (inventory_id)
    GROUP BY
        film_id
    ORDER BY
        cnt ASC;
""")

Executando query:
Executando query:

Agora temos uma *view* chamada `movie_count`. Vamos verificar que ela funcionou, listando as 30 primeiras linhas:

In [11]:
db("""
SELECT 
    *
FROM
    movie_count 
LIMIT 
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

In [12]:
db("""
SELECT 
    * 
FROM 
    movie_count 
ORDER BY
    cnt DESC
LIMIT 30
""")

Executando query:
('BUCKET BROTHERHOOD', 34)
('ROCKETEER MOTHER', 33)
('JUGGLER HARDLY', 32)
('GRIT CLOCKWORK', 32)
('FORWARD TEMPLE', 32)
('SCALAWAG DUCK', 32)
('RIDGEMONT SUBMARINE', 32)
('ZORRO ARK', 31)
('WIFE TURN', 31)
('TIMBERLAND SKY', 31)
('RUSH GOODFELLAS', 31)
('ROBBERS JOON', 31)
('NETWORK PEAK', 31)
('HOBBIT ALIEN', 31)
('GOODFELLAS SALUTE', 31)
('APACHE DIVINE', 31)
('WITCHES PANIC', 30)
('SUSPECTS QUILLS', 30)
('SHOCK CABIN', 30)
('RUGRATS SHAKESPEARE', 30)
('PULP BEVERLY', 30)
('MUSCLE BRIGHT', 30)
('MASSACRE USUAL', 30)
('MARRIED GO', 30)
('IDOLS SNATCHERS', 30)
('HARRY IDAHO', 30)
('GRAFFITI LOVE', 30)
('FROST HEAD', 30)
('ENGLISH BULWORTH', 30)
('DOGMA FAMILY', 30)

Agora suponha que alteramos a tabela `film`, mudando o nome do filme "DAZED PUNK" para "STONED PUNK".

**Atividade**: Do it.

In [13]:
db("""
UPDATE film SET title = 'STONED PUNK' WHERE title = 'DAZED PUNK'
""")

Executando query:

Verifique agora a nossa *view*:

In [14]:
db("""
SELECT
    *
FROM
    movie_count
LIMIT
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('STONED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

Como você pode ver, as views são tabelas virtuais que são **automaticamente atualizadas quando as tabelas originais são modificadas**.

Sempre que você realizar modificações nos dados, dê `commit` ou `rollback`. Ainda, evite executar múltiplas vezes as linhas de código que criem a conexão sem antes ter fechado a conexão ativa.

Vamos desfazer as alterações:

In [15]:
connection.rollback()

Conferindo:

In [16]:
db("""
SELECT
    *
FROM
    movie_count
LIMIT
    30
""")

Executando query:
('ALICE FANTASIA', 0)
('APOLLO TEEN', 0)
('ARGONAUTS TOWN', 0)
('ARK RIDGEMONT', 0)
('ARSENIC INDEPENDENCE', 0)
('BOONDOCK BALLROOM', 0)
('BUTCH PANTHER', 0)
('CATCH AMISTAD', 0)
('CHINATOWN GLADIATOR', 0)
('CHOCOLATE DUCK', 0)
('COMMANDMENTS EXPRESS', 0)
('CROSSING DIVORCE', 0)
('CROWDS TELEMARK', 0)
('CRYSTAL BREAKING', 0)
('DAZED PUNK', 0)
('DELIVERANCE MULHOLLAND', 0)
('FIREHOUSE VIETNAM', 0)
('FLOATS GARDEN', 0)
('FRANKENSTEIN STRANGER', 0)
('GLADIATOR WESTWARD', 0)
('GUMP DATE', 0)
('HATE HANDICAP', 0)
('HOCUS FRIDA', 0)
('KENTUCKIAN GIANT', 0)
('KILL BROTHERHOOD', 0)
('MUPPET MILE', 0)
('ORDER BETRAYED', 0)
('PEARL DESTINY', 0)
('PERDITION FARGO', 0)
('PSYCHO SHRUNK', 0)

### Vamos praticar

Verifique quantas vezes o filme "COWBOY DOOM" foi alugado usando a view `movie_count`

In [17]:
sql_ex03 = '''
SELECT cnt
FROM movie_count
WHERE title = "COWBOY DOOM"
'''

db(sql_ex03)

Executando query:
(7,)

In [18]:
ia.sender(answer="sql_ex03", task="views", question="ex03", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex03', style=ButtonStyle()), Output()), _dom_classes=('widget…

Registre um aluguel do filme "COWBOY DOOM" (com o menor id possível), feito pelo funcionario "Jon Stephens" na loja id=1 para o cliente "JESSIE BANKS", na data '2019-01-01', com data de retorno '2019-01-08'.

In [19]:
sql_ex04 = """
INSERT INTO rental  (rental_date, inventory_id, customer_id, staff_id, return_date)
VALUES
('2019-01-01', 
(SELECT i.inventory_id FROM inventory as i 
INNER JOIN film f USING (film_id) 
WHERE f.title = "COWBOY DOOM"
ORDER BY i.inventory_id ASC
LIMIT 1),
(SELECT c.customer_id FROM customer c WHERE c.first_name = 'JESSIE' AND c.last_name = 'BANKS'),
(SELECT s.staff_id FROM staff s WHERE s.first_name ='Jon' AND s.last_name = 'Stephens'),
'2019-01-08')
"""

db(sql_ex04)

Executando query:

In [20]:
db('''
-- SUA QUERY AQUI CASO NECESSITE DE MAIS!
-- Crie quantas forem necesárias!
''')

Executando query:

In [21]:
ia.sender(answer="sql_ex04", task="views", question="ex04", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex04', style=ButtonStyle()), Output()), _dom_classes=('widget…

Verifique usando a view que a contagem de alugueis do filme subiu.

In [22]:
db("""
-- SUA QUERY AQUI!
""")

Executando query:

Faça o *rollback* desta alteração, para não modificar a nossa querida base de dados *sakila*.

In [23]:
connection.rollback()

## Tabelas temporárias

Tabelas temporárias podem ser criadas para ajudar nas tarefas de manipulação de dados. Essas tabelas existem apenas pela duração da sessão. Para criar uma tabela temporária, basta adicionar a palavra-chave `TEMPORARY` no momento da criação.

É comum criar tabelas temporárias à partir do resultado de comandos `SELECT`. Por exemplo, a seguinte query permite montar uma tabela temporária com os filmes que duram mais que 3 horas:

In [24]:
db("""
DROP TABLE IF EXISTS long_film
""")

db("""
CREATE TEMPORARY TABLE long_film 
    SELECT
        *
    FROM
        film
    WHERE
        film.length > 180;
""")

Executando query:
Executando query:

Podemos verificar que a tabela `long_film` agora existe:

In [25]:
db("DESCRIBE long_film")

Executando query:
('film_id', 'smallint unsigned', 'NO', '', '0', 'NULL')
('title', 'varchar(128)', 'NO', '', None, 'NULL')
('description', 'text', 'YES', '', None, 'NULL')
('release_year', 'year', 'YES', '', None, 'NULL')
('language_id', 'tinyint unsigned', 'NO', '', None, 'NULL')
('original_language_id', 'tinyint unsigned', 'YES', '', None, 'NULL')
('rental_duration', 'tinyint unsigned', 'NO', '', '3', 'NULL')
('rental_rate', 'decimal(4,2)', 'NO', '', '4.99', 'NULL')
('length', 'smallint unsigned', 'YES', '', None, 'NULL')
('replacement_cost', 'decimal(5,2)', 'NO', '', '19.99', 'NULL')
('rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', '', 'G', 'NULL')
('special_features', "set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')", 'YES', '', None, 'NULL')
('last_update', 'timestamp', 'NO', '', 'CURRENT_TIMESTAMP', 'on update CURRENT_TIMESTAMP')

In [26]:
db("CALL sys.table_exists('sakila', 'long_film', @table_type);")
db("SELECT @table_type;")

Executando query:
Executando query:
('TEMPORARY',)

Muito embora ela não apareça na lista de tabelas: isso é um bug do MySQL. (https://dev.mysql.com/worklog/task/?id=648)

In [27]:
db("SHOW TABLES")

Executando query:
('actor',)
('actor_info',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('movie_count',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)

Vamos listar o conteudo desta tabela:

In [28]:
db("SELECT title FROM long_film")

Executando query:
('ANALYZE HOOSIERS',)
('BAKED CLEOPATRA',)
('CATCH AMISTAD',)
('CHICAGO NORTH',)
('CONSPIRACY SPIRIT',)
('CONTROL ANTHEM',)
('CRYSTAL BREAKING',)
('DARN FORRESTER',)
('FRONTIER CABIN',)
('GANGS PRIDE',)
('HAUNTING PIANIST',)
('HOME PITY',)
('HOTEL HAPPINESS',)
('INTRIGUE WORST',)
('JACKET FRISCO',)
('KING EVOLUTION',)
('LAWLESS VISION',)
('LOVE SUICIDES',)
('MONSOON CAUSE',)
('MOONWALKER FOOL',)
('MUSCLE BRIGHT',)
('POND SEATTLE',)
('RECORDS ZORRO',)
('REDS POCUS',)
('RUNAWAY TENENBAUMS',)
('SATURN NAME',)
('SCALAWAG DUCK',)
('SEARCHERS WAIT',)
('SMOOCHY CONTROL',)
('SOLDIERS EVOLUTION',)
('SONS INTERVIEW',)
('SORORITY QUEEN',)
('STAR OPERATION',)
('SWEET BROTHERHOOD',)
('THEORY MERMAID',)
('WIFE TURN',)
('WILD APOLLO',)
('WORST BANGER',)
('YOUNG LANGUAGE',)

Vamos apagar a tabela `long_film`:

In [29]:
db("DROP TABLE long_film")

Executando query:

### Vamos praticar

- Crie uma tabela temporária `max_duration` que contém a duração máxima de filme para cada categoria. Apresente o id da categoria, seu nome e a duração máxima.

In [30]:
# Executamos o DROP apenas localmente, sem enviar ao servidor
db("DROP TABLE IF EXISTS max_duration")

sql_ex05 = """
CREATE TEMPORARY TABLE max_duration 
SELECT c.category_id, c.name, MAX(f.length) as max_l
FROM category c
INNER JOIN film_category USING (category_id)
INNER JOIN film f USING (film_id)
GROUP BY category_id
"""

db(sql_ex05)

Executando query:
Executando query:

In [31]:
ia.sender(answer="sql_ex05", task="views", question="ex05", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex05', style=ButtonStyle()), Output()), _dom_classes=('widget…

 - Verifique a tabela.

In [32]:
db("SELECT * FROM max_duration")

Executando query:
(1, 'Action', 185)
(2, 'Animation', 185)
(3, 'Children', 178)
(4, 'Classics', 184)
(5, 'Comedy', 185)
(6, 'Documentary', 183)
(7, 'Drama', 181)
(8, 'Family', 184)
(9, 'Foreign', 184)
(10, 'Games', 185)
(11, 'Horror', 181)
(12, 'Music', 185)
(13, 'New', 183)
(14, 'Sci-Fi', 185)
(15, 'Sports', 184)
(16, 'Travel', 185)

In [33]:
db("DESCRIBE max_duration")

Executando query:
('category_id', 'tinyint unsigned', 'NO', '', '0', 'NULL')
('name', 'varchar(25)', 'NO', '', None, 'NULL')
('max_l', 'smallint unsigned', 'YES', '', None, 'NULL')

- Agora use a tabela temporária para construir uma consulta com as categorias e seus respectivos filmes mais longos:

In [34]:
db("""
SELECT
    category_id, name, film_id, title, length
FROM
    film
    INNER JOIN film_category USING (film_id)
    INNER JOIN max_duration USING (category_id)
WHERE
    length = max_l
""")

Executando query:
(1, 'Action', 212, 'DARN FORRESTER', 185)
(1, 'Action', 991, 'WORST BANGER', 185)
(2, 'Animation', 349, 'GANGS PRIDE', 185)
(2, 'Animation', 690, 'POND SEATTLE', 185)
(3, 'Children', 344, 'FURY MURDER', 178)
(3, 'Children', 993, 'WRONG BEHAVIOR', 178)
(4, 'Classics', 180, 'CONSPIRACY SPIRIT', 184)
(5, 'Comedy', 182, 'CONTROL ANTHEM', 185)
(6, 'Documentary', 973, 'WIFE TURN', 183)
(6, 'Documentary', 996, 'YOUNG LANGUAGE', 183)
(7, 'Drama', 473, 'JACKET FRISCO', 181)
(8, 'Family', 499, 'KING EVOLUTION', 184)
(9, 'Foreign', 198, 'CRYSTAL BREAKING', 184)
(9, 'Foreign', 821, 'SORORITY QUEEN', 184)
(10, 'Games', 141, 'CHICAGO NORTH', 185)
(11, 'Horror', 24, 'ANALYZE HOOSIERS', 181)
(11, 'Horror', 535, 'LOVE SUICIDES', 181)
(12, 'Music', 426, 'HOME PITY', 185)
(13, 'New', 340, 'FRONTIER CABIN', 183)
(14, 'Sci-Fi', 817, 'SOLDIERS EVOLUTION', 185)
(15, 'Sports', 813, 'SMOOCHY CONTROL', 184)
(16, 'Travel', 609, 'MUSCLE BRIGHT', 185)
(16, 'Travel', 872, 'SWEET BROTHERHOOD', 185)

- delete a tabela temporária

In [35]:
db("""
DROP TABLE max_duration
""")

Executando query:

## Variáveis

Podemos montar uma query que retorne um valor só e armazenar este valor em uma variável, para uso posterior em outras queries. Para isso vamos usar o prefixo '@' para indicar variáveis, e o comando `SELECT ... INTO`.

Exemplo: quais são os filmes "caros" da nossa base sakila? Vamos descobrir quais filmes custam mais que um desvio padrão acima da média de preços de locação.

Primeiro vamos calcular a média e o desvio padrão dos preços de aluguel:

In [36]:
db("""
SELECT 
    AVG(rental_rate), 
    STDDEV(rental_rate)
INTO 
    @avg_rate, 
    @stddev_rate 
FROM
    film;
""")

Executando query:

Note que a query não retorna um resultado: o resultado foi armazenado direto nas variáveis `@avg_rate` e `@stddev_rate`. Vamos usar um `SELECT` sem tabelas para ver o resultado:

In [37]:
db("SELECT @avg_rate, @stddev_rate")

Executando query:
(Decimal('2.980000000'), 1.6455698101265719)

Agora podemos selecionar os filmes caros!

In [38]:
db("""
SELECT 
    title, rental_rate
FROM
    film
WHERE
    rental_rate > @avg_rate + @stddev_rate
LIMIT 10
""")

Executando query:
('ACE GOLDFINGER', Decimal('4.99'))
('AIRPLANE SIERRA', Decimal('4.99'))
('AIRPORT POLLOCK', Decimal('4.99'))
('ALADDIN CALENDAR', Decimal('4.99'))
('ALI FOREVER', Decimal('4.99'))
('AMELIE HELLFIGHTERS', Decimal('4.99'))
('AMERICAN CIRCUS', Decimal('4.99'))
('ANTHEM LUKE', Decimal('4.99'))
('APACHE DIVINE', Decimal('4.99'))
('APOCALYPSE FLAMINGOS', Decimal('4.99'))

### Vamos praticar

Armazene na variável temporária `max_films` a quantidade de filmes feitos pelo ator ou atriz que mais participou de filmes.

In [39]:
sql_ex06 = """
SELECT MAX(actor_count) INTO @max_films
FROM 
(SELECT COUNT(film_id) as actor_count, a.first_name, a.last_name 
FROM film_actor 
INNER JOIN actor a USING (actor_id)
GROUP BY a.actor_id) as actor_films

"""

minha = """
SELECT MAX(actor_count) INTO @max_films
FROM 
(SELECT COUNT(a.first_name AND a.last_name) as actor_count FROM 
film f 
INNER JOIN film_actor USING (film_id)
INNER JOIN actor a USING (actor_id)
GROUP BY a.first_name, a.last_name) as actor_films
"""

db(sql_ex06)

Executando query:

In [40]:
db("""
SELECT @max_films
""")

Executando query:
(42,)

In [41]:
ia.sender(answer="sql_ex06", task="views", question="ex06", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex06', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Operador `IN`

Suponha que desejamos listar todos os filmes dos 3 atores mais populares. Podemos começar listando os 3 atores mais populares:

In [42]:
db("""
SELECT 
    actor_id, first_name, last_name, COUNT(film_id) AS num_films
FROM
    actor
    INNER JOIN film_actor USING (actor_id)
GROUP BY 
    actor_id
ORDER BY 
    num_films DESC
LIMIT 3
""")

Executando query:
(107, 'GINA', 'DEGENERES', 42)
(102, 'WALTER', 'TORN', 41)
(198, 'MARY', 'KEITEL', 40)

Vamos criar uma tabela temporária para guardar a informação de `actor_id` desses atores:

In [43]:
db("DROP TABLE IF EXISTS temp_pop_actors")
db("""
CREATE TEMPORARY TABLE temp_pop_actors
    SELECT first_name, last_name, actor_id FROM
        actor
        INNER JOIN film_actor USING (actor_id)
    GROUP BY 
        actor_id
    ORDER BY 
        COUNT(film_id) DESC
    LIMIT 3
""")
db("""
SELECT * from temp_pop_actors
""")

Executando query:
Executando query:
Executando query:
('GINA', 'DEGENERES', 107)
('WALTER', 'TORN', 102)
('MARY', 'KEITEL', 198)

Por fim, vamos usar essa informação para listar os filmes dos atores populares:

In [44]:
db("""
SELECT DISTINCT
    title
FROM
    film
    INNER JOIN film_actor USING (film_id)
WHERE
    actor_id IN (SELECT actor_id FROM temp_pop_actors);
""")

Executando query:
('BED HIGHBALL',)
('CALENDAR GUNFIGHT',)
('CHAMBER ITALIAN',)
('CHAPLIN LICENSE',)
('CHARIOTS CONSPIRACY',)
('CLUELESS BUCKET',)
('COLDBLOODED DARLING',)
('CONEHEADS SMOOCHY',)
('DARKNESS WAR',)
('DEER VIRGINIAN',)
('DOGMA FAMILY',)
('ELEPHANT TROJAN',)
('EXCITEMENT EVE',)
('FRISCO FORREST',)
('GANDHI KWAI',)
('GOODFELLAS SALUTE',)
('GUNFIGHT MOON',)
('HALL CASSIDY',)
('HEARTBREAKERS BRIGHT',)
('HOOK CHARIOTS',)
('HYDE DOCTOR',)
('IMPACT ALADDIN',)
('INDIAN LOVE',)
('INTRIGUE WORST',)
('LICENSE WEEKEND',)
('LOUISIANA HARRY',)
('MAGNIFICENT CHITTY',)
('METAL ARMAGEDDON',)
('MIDNIGHT WESTWARD',)
('MOVIE SHAKESPEARE',)
('MUMMY CREATURES',)
('OPEN AFRICAN',)
('SEARCHERS WAIT',)
('SEVEN SWARM',)
('SIERRA DIVIDE',)
('SPIRITED CASUALTIES',)
('STORM HAPPINESS',)
('SUGAR WONKA',)
('TELEGRAPH VOYAGE',)
('TRAINSPOTTING STRANGERS',)
('WIFE TURN',)
('WINDOW SIDE',)
('AMELIE HELLFIGHTERS',)
('ARABIA DOGMA',)
('BANG KWAI',)
('CASABLANCA SUPER',)
('CASPER DRAGONFLY',)
('CROW GREASE',)
('CURTAIN VIDEOTAPE',)
('DANCES NONE',)
('EARLY HOME',)
('FLYING HOOK',)
('FORREST SONS',)
('FREDDY STORM',)
('GASLIGHT CRUSADE',)
('HOBBIT ALIEN',)
('HOOSIERS BIRDCAGE',)
('HYSTERICAL GRAIL',)
('JERSEY SASSY',)
('LAMBS CINCINATTI',)
('LESSON CLEOPATRA',)
('LIES TREATMENT',)
('LOCK REAR',)
('LONELY ELEPHANT',)
('MADISON TRAP',)
('MOTIONS DETAILS',)
('MULHOLLAND BEAST',)
('NIGHTMARE CHILL',)
('NOVOCAINE FLIGHT',)
('RAIDERS ANTITRUST',)
('REUNION WITCHES',)
('ROOTS REMEMBER',)
('SKY MIRACLE',)
('SLUMS DUCK',)
('SPIKING ELEMENT',)
('STAGE WORLD',)
('STEPMOM DREAM',)
('STRANGELOVE DESIRE',)
('WARDROBE PHANTOM',)
('WITCHES PANIC',)
('WIZARD COLDBLOODED',)
('ACADEMY DINOSAUR',)
('BUTTERFLY CHOCOLAT',)
('CASSIDY WYOMING',)
('CRAFT OUTFIELD',)
('DUMBO LUST',)
('DWARFS ALTER',)
('FANTASY TROOPERS',)
('FEUD FROGMEN',)
('FICTION CHRISTMAS',)
('GAMES BOWFINGER',)
('GREEDY ROOTS',)
('HANDICAP BOONDOCK',)
('HAUNTING PIANIST',)
('IDOLS SNATCHERS',)
('INTENTIONS EMPIRE',)
('JEOPARDY ENCINO',)
('KING EVOLUTION',)
('LOVELY JINGLE',)
('LUKE MUMMY',)
('MADNESS ATTACKS',)
('MALLRATS UNITED',)
('MEMENTO ZOOLANDER',)
('MERMAID INSECTS',)
('MODEL FISH',)
('MOONWALKER FOOL',)
('NORTHWEST POLISH',)
('ROSES TREASURE',)
('SAINTS BRIDE',)
('SLEEPY JAPANESE',)
('SOLDIERS EVOLUTION',)
('STEEL SANTA',)
('SUBMARINE BED',)
('SWEDEN SHINING',)
('THEORY MERMAID',)
('TITANIC BOONDOCK',)
('UNFORGIVEN ZOOLANDER',)
('WAGON JAWS',)
('YOUTH KICK',)

Note o uso de *subqueries*!

Não se esqueça de limpar tudo no final!

In [45]:
db("DROP TABLE temp_pop_actors")

Executando query:

### Vamos praticar

Liste os atores (id, nome e sobrenome) que participaram dos 3 filmes mais rentáveis (aqueles que mais geraram receita para a locadora) ordenados pelo id do ator de modo crescente. Para isso, crie uma tabela temporária contendo o id do filme e a quantia total e use essa tabela para listar os atores.

In [46]:
db(""" DROP TABLE IF EXISTS temp_rental_films """)
db("""
CREATE TEMPORARY TABLE temp_rental_films
SELECT f.film_id, f.title, SUM(p.amount) as total
FROM film f
INNER JOIN inventory i USING (film_id)
INNER JOIN rental r USING (inventory_id)
INNER JOIN payment p USING (rental_id)
GROUP BY f.film_id
ORDER BY total DESC
LIMIT 3
""")
db("""

SELECT DISTINCT a.actor_id, a.first_name, a.last_name 
FROM actor a
INNER JOIN film_actor USING (actor_id)
WHERE film_id IN (SELECT film_id FROM temp_rental_films)
   ORDER BY a.actor_id ASC

""")

Executando query:
Executando query:
Executando query:
(28, 'WOODY', 'HOFFMAN')
(47, 'JULIA', 'BARRYMORE')
(52, 'CARMEN', 'HUNT')
(107, 'GINA', 'DEGENERES')
(111, 'CAMERON', 'ZELLWEGER')
(138, 'LUCILLE', 'DEE')
(155, 'IAN', 'TANDY')
(157, 'GRETA', 'MALDEN')
(158, 'VIVIEN', 'BASINGER')
(166, 'NICK', 'DEGENERES')
(174, 'MICHAEL', 'BENING')
(178, 'LISA', 'MONROE')
(185, 'MICHAEL', 'BOLGER')
(200, 'THORA', 'TEMPLE')

In [47]:
sql_ex07 = ["""
CREATE TEMPORARY TABLE temp_rental_films
SELECT f.film_id, f.title, SUM(p.amount) as total
FROM film f
INNER JOIN inventory i USING (film_id)
INNER JOIN rental r USING (inventory_id)
INNER JOIN payment p USING (rental_id)
GROUP BY f.film_id
ORDER BY total DESC
LIMIT 3
""",
"""
SELECT DISTINCT a.actor_id, a.first_name, a.last_name 
FROM actor a
INNER JOIN film_actor USING (actor_id)
WHERE film_id IN (SELECT film_id FROM temp_rental_films)
   ORDER BY a.actor_id ASC
"""]

ia.sender(answer="sql_ex07", task="views", question="ex07", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex07', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Subqueries

Os tópicos discutidos acima poderiam ser resolvidos, em grande parte, com subqueries. As subqueries são queries `SELECT` criadas dentro de outras queries. 

Poderíamos ter usado subqueries nos mesmos lugares onde usamos tabelas temporárias, nos tópicos acima. Quando a subquery pode ser transformada em uma tabela temporária independente, separada da query exterior, dizemos que a subquery é **não-correlacionada** com a query exterior.

Usar subqueries não-correlacionadas é um tópico controverso: podemos sempre usar uma tabela temporária ou, ás vezes, pensar em um `JOIN` simples. Aliás, muitas vezes o otimizador de queries do banco de dados transformará a subquery em `JOIN`, se isso for vantajoso em termos de desempenho.

Uma subquery que depende da query externa (e portanto não pode ser separada em uma tabela temporária independente) é chamada de **subquery correlacionada**. Nestes casos podemos ter que executar a subquery para cada linha da query exterior!

### Vamos praticar

Vamos refazer a atividade dos atores dos filmes mais rentáveis, usando subqueries. 

Temos um problema: o MySQL não suporta ``LIMIT`` em subqueries com o operador ``IN``. Vamos investigar isso mais de perto. 

Em primeiro lugar faça uma tradução direta da implementação da atividade anterior trocando tabela temporária por subquery.

In [48]:
try:
    db('''
SELECT DISTINCT a.actor_id, a.first_name, a.last_name 
FROM actor a
INNER JOIN film_actor USING (actor_id)
WHERE film_id IN (
SELECT f.film_id, f.title, SUM(p.amount) as total
FROM film f
INNER JOIN inventory i USING (film_id)
INNER JOIN rental r USING (inventory_id)
INNER JOIN payment p USING (rental_id)
GROUP BY f.film_id
ORDER BY total DESC
LIMIT 3)
ORDER BY a.actor_id ASC
    ''')
except mysql.connector.ProgrammingError as e:
    print(f'ProgrammingError: {e}')

Executando query:
ProgrammingError: 1235 (42000): This version of MySQL doesn't yet support 'LIMIT & IN/ALL/ANY/SOME subquery'

Ok, apareceu o problema. Mas considere que o problema original não precisava de IN desde o começo! Construa essa solução.

In [49]:
sql_ex08 = """
SELECT DISTINCT a.actor_id, a.first_name, a.last_name 
FROM actor a
INNER JOIN film_actor USING (actor_id)
INNER JOIN (
    SELECT f.film_id, SUM(p.amount) as total
    FROM film f
    INNER JOIN inventory i USING (film_id)
    INNER JOIN rental r USING (inventory_id)
    INNER JOIN payment p USING (rental_id)
    GROUP BY f.film_id
    ORDER BY total DESC
    LIMIT 3
) as temp_rental_films USING (film_id)
ORDER BY a.actor_id ASC;

"""

db(sql_ex08)

Executando query:
(28, 'WOODY', 'HOFFMAN')
(47, 'JULIA', 'BARRYMORE')
(52, 'CARMEN', 'HUNT')
(107, 'GINA', 'DEGENERES')
(111, 'CAMERON', 'ZELLWEGER')
(138, 'LUCILLE', 'DEE')
(155, 'IAN', 'TANDY')
(157, 'GRETA', 'MALDEN')
(158, 'VIVIEN', 'BASINGER')
(166, 'NICK', 'DEGENERES')
(174, 'MICHAEL', 'BENING')
(178, 'LISA', 'MONROE')
(185, 'MICHAEL', 'BOLGER')
(200, 'THORA', 'TEMPLE')

In [50]:
ia.sender(answer="sql_ex08", task="views", question="ex08", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex08', style=ButtonStyle()), Output()), _dom_classes=('widget…

# `UNION`

Quando duas tabelas tem **EXATAMENTE** as mesmas colunas, podemos concatená-las e formar uma grande tabela unificada usando o operador `UNION`. Por exemplo: suponha que desejamos montar uma lista dos nomes e sobrenomes de todos os clientes E de todos os funcionários. Eis uma solução possível:

In [51]:
db("DROP TABLE IF EXISTS nomes_clientes")
db("""
CREATE TEMPORARY TABLE nomes_clientes 
    SELECT first_name, last_name FROM customer
""")

Executando query:
Executando query:

In [52]:
db("DESCRIBE nomes_clientes")
db("SELECT * FROM nomes_clientes LIMIT 5")

Executando query:
('first_name', 'varchar(45)', 'NO', '', None, 'NULL')
('last_name', 'varchar(45)', 'NO', '', None, 'NULL')
Executando query:
('MARY', 'SMITH')
('PATRICIA', 'JOHNSON')
('LINDA', 'WILLIAMS')
('BARBARA', 'JONES')
('ELIZABETH', 'BROWN')

In [53]:
db("DROP TABLE IF EXISTS nomes_staff")
db("""
CREATE TEMPORARY TABLE nomes_staff 
    SELECT first_name, last_name FROM staff
""")

Executando query:
Executando query:

In [54]:
db("DESCRIBE nomes_staff")
db("SELECT * FROM nomes_staff LIMIT 5")

Executando query:
('first_name', 'varchar(45)', 'NO', '', None, 'NULL')
('last_name', 'varchar(45)', 'NO', '', None, 'NULL')
Executando query:
('Mike', 'Hillyer')
('Jon', 'Stephens')

In [55]:
db("DROP TABLE IF EXISTS nomes_all")
db("""
CREATE TEMPORARY TABLE nomes_all 
    (SELECT * FROM nomes_staff)
    UNION 
    (SELECT * FROM nomes_clientes)
""")

Executando query:
Executando query:

In [56]:
db("DESCRIBE nomes_all")
db("SELECT * FROM nomes_all LIMIT 5")

Executando query:
('first_name', 'varchar(45)', 'NO', '', '', 'NULL')
('last_name', 'varchar(45)', 'NO', '', '', 'NULL')
Executando query:
('Mike', 'Hillyer')
('Jon', 'Stephens')
('MARY', 'SMITH')
('PATRICIA', 'JOHNSON')
('LINDA', 'WILLIAMS')

In [57]:
db("DROP TABLE IF EXISTS nomes_clientes")
db("DROP TABLE IF EXISTS nomes_staff")
db("DROP TABLE IF EXISTS nomes_all")

Executando query:
Executando query:
Executando query:

**Vamos praticar:** refaça o exemplo acima mas use *subqueries* ao invés de *temp tables*. Ordene de forma ascendente por first_name e last_name.

In [58]:
sql_ex09 = """
(SELECT first_name, last_name FROM staff)
    UNION 
(SELECT first_name, last_name FROM customer)

ORDER BY first_name, last_name
"""

db(sql_ex09)

Executando query:
('AARON', 'SELBY')
('ADAM', 'GOOCH')
('ADRIAN', 'CLARY')
('AGNES', 'BISHOP')
('ALAN', 'KAHN')
('ALBERT', 'CROUSE')
('ALBERTO', 'HENNING')
('ALEX', 'GRESHAM')
('ALEXANDER', 'FENNELL')
('ALFRED', 'CASILLAS')
('ALFREDO', 'MCADAMS')
('ALICE', 'STEWART')
('ALICIA', 'MILLS')
('ALLAN', 'CORNISH')
('ALLEN', 'BUTTERFIELD')
('ALLISON', 'STANLEY')
('ALMA', 'AUSTIN')
('ALVIN', 'DELOACH')
('AMANDA', 'CARTER')
('AMBER', 'DIXON')
('AMY', 'LOPEZ')
('ANA', 'BRADLEY')
('ANDRE', 'RAPP')
('ANDREA', 'HENDERSON')
('ANDREW', 'PURDY')
('ANDY', 'VANHORN')
('ANGEL', 'BARCLAY')
('ANGELA', 'HERNANDEZ')
('ANITA', 'MORALES')
('ANN', 'EVANS')
('ANNA', 'HILL')
('ANNE', 'POWELL')
('ANNETTE', 'OLSON')
('ANNIE', 'RUSSELL')
('ANTHONY', 'SCHWAB')
('ANTONIO', 'MEEK')
('APRIL', 'BURNS')
('ARLENE', 'HARVEY')
('ARMANDO', 'GRUBER')
('ARNOLD', 'HAVENS')
('ARTHUR', 'SIMPKINS')
('ASHLEY', 'RICHARDSON')
('AUDREY', 'RAY')
('AUSTIN', 'CINTRON')
('BARBARA', 'JONES')
('BARRY', 'LOVELACE')
('BEATRICE', 'ARNOLD')
('BECKY', 'MILES')
('BEN', 'EASTER')
('BENJAMIN', 'VARNEY')
('BERNARD', 'COLBY')
('BERNICE', 'WILLIS')
('BERTHA', 'FERGUSON')
('BESSIE', 'MORRISON')
('BETH', 'FRANKLIN')
('BETTY', 'WHITE')
('BEVERLY', 'BROOKS')
('BILL', 'GAVIN')
('BILLIE', 'HORTON')
('BILLY', 'POULIN')
('BOB', 'PFEIFFER')
('BOBBIE', 'CRAIG')
('BOBBY', 'BOUDREAU')
('BONNIE', 'HUGHES')
('BRAD', 'MCCURDY')
('BRADLEY', 'MOTLEY')
('BRANDON', 'HUEY')
('BRANDY', 'GRAVES')
('BRENDA', 'WRIGHT')
('BRENT', 'HARKINS')
('BRETT', 'CORNWELL')
('BRIAN', 'WYMAN')
('BRITTANY', 'RILEY')
('BRUCE', 'SCHWARZ')
('BRYAN', 'HARDISON')
('BYRON', 'BOX')
('CALVIN', 'MARTEL')
('CARL', 'ARTIS')
('CARLA', 'GUTIERREZ')
('CARLOS', 'COUGHLIN')
('CARMEN', 'OWENS')
('CAROL', 'GARCIA')
('CAROLE', 'BARNETT')
('CAROLINE', 'BOWMAN')
('CAROLYN', 'PEREZ')
('CARRIE', 'PORTER')
('CASEY', 'MENA')
('CASSANDRA', 'WALTERS')
('CATHERINE', 'CAMPBELL')
('CATHY', 'SPENCER')
('CECIL', 'VINES')
('CHAD', 'CARBONE')
('CHARLENE', 'ALVAREZ')
('CHARLES', 'KOWALSKI')
('CHARLIE', 'BESS')
('CHARLOTTE', 'HUNTER')
('CHERYL', 'MURPHY')
('CHESTER', 'BENNER')
('CHRIS', 'BROTHERS')
('CHRISTIAN', 'JUNG')
('CHRISTINA', 'RAMIREZ')
('CHRISTINE', 'ROBERTS')
('CHRISTOPHER', 'GRECO')
('CHRISTY', 'VARGAS')
('CINDY', 'FISHER')
('CLARA', 'SHAW')
('CLARENCE', 'GAMEZ')
('CLAUDE', 'HERZOG')
('CLAUDIA', 'FULLER')
('CLAYTON', 'BARBEE')
('CLIFFORD', 'BOWENS')
('CLIFTON', 'MALCOLM')
('CLINTON', 'BUFORD')
('CLYDE', 'TOBIAS')
('CODY', 'NOLEN')
('COLLEEN', 'BURTON')
('CONNIE', 'WALLACE')
('CONSTANCE', 'REID')
('COREY', 'HAUSER')
('CORY', 'MEEHAN')
('COURTNEY', 'DAY')
('CRAIG', 'MORRELL')
('CRYSTAL', 'FORD')
('CURTIS', 'IRBY')
('CYNTHIA', 'YOUNG')
('DAISY', 'BATES')
('DALE', 'RATCLIFF')
('DAN', 'PAINE')
('DANA', 'HART')
('DANIEL', 'CABRAL')
('DANIELLE', 'DANIELS')
('DANNY', 'ISOM')
('DARLENE', 'ROSE')
('DARRELL', 'POWER')
('DARREN', 'WINDHAM')
('DARRYL', 'ASHCRAFT')
('DARYL', 'LARUE')
('DAVE', 'GARDINER')
('DAVID', 'ROYAL')
('DAWN', 'SULLIVAN')
('DEAN', 'SAUER')
('DEANNA', 'BYRD')
('DEBBIE', 'REYES')
('DEBORAH', 'WALKER')
('DEBRA', 'NELSON')
('DELORES', 'HANSEN')
('DENISE', 'KELLY')
('DENNIS', 'GILMAN')
('DEREK', 'BLAKELY')
('DERRICK', 'BOURQUE')
('DIANA', 'ALEXANDER')
('DIANE', 'COLLINS')
('DIANNE', 'SHELTON')
('DOLORES', 'WAGNER')
('DON', 'BONE')
('DONALD', 'MAHON')
('DONNA', 'THOMPSON')
('DORA', 'MEDINA')
('DORIS', 'REED')
('DOROTHY', 'TAYLOR')
('DOUGLAS', 'GRAF')
('DUANE', 'TUBBS')
('DUSTIN', 'GILLETTE')
('DWAYNE', 'OLVERA')
('DWIGHT', 'LOMBARDI')
('EARL', 'SHANKS')
('EDDIE', 'TOMLIN')
('EDGAR', 'RHOADS')
('EDITH', 'MCDONALD')
('EDNA', 'WEST')
('EDUARDO', 'HIATT')
('EDWARD', 'BAUGH')
('EDWIN', 'BURK')
('EILEEN', 'CARR')
('ELAINE', 'STEVENS')
('ELEANOR', 'HUNT')
('ELIZABETH', 'BROWN')
('ELLA', 'OLIVER')
('ELLEN', 'SIMPSON')
('ELMER', 'NOE')
('ELSIE', 'KELLEY')
('EMILY', 'DIAZ')
('EMMA', 'BOYD')
('ENRIQUE', 'FORSYTHE')
('ERIC', 'ROBERT')
('ERICA', 'MATTHEWS')
('ERIK', 'GUILLEN')
('ERIKA', 'PENA')
('ERIN', 'DUNN')
('ERNEST', 'STEPP')
('ESTHER', 'CRAWFORD')
('ETHEL', 'WEBB')
('EUGENE', 'CULPEPPER')
('EVA', 'RAMOS')
('EVELYN', 'MORGAN')
('EVERETT', 'BANDA')
('FELICIA', 'SUTTON')
('FELIX', 'GAFFNEY')
('FERNANDO', 'CHURCHILL')
('FLORENCE', 'WOODS')
('FLOYD', 'GANDY')
('FRANCES', 'PARKER')
('FRANCIS', 'SIKES')
('FRANCISCO', 'SKIDMORE')
('FRANK', 'WAGGONER')
('FRANKLIN', 'TROUTMAN')
('FRED', 'WHEAT')
('FREDDIE', 'DUGGAN')
('FREDERICK', 'ISBELL')
('GABRIEL', 'HARDER')
('GAIL', 'KNIGHT')
('GARY', 'COY')
('GENE', 'SANBORN')
('GEORGE', 'LINTON')
('GEORGIA', 'JACOBS')
('GERALD', 'FULTZ')
('GERALDINE', 'PERKINS')
('GERTRUDE', 'CASTILLO')
('GILBERT', 'SLEDGE')
('GINA', 'WILLIAMSON')
('GLADYS', 'HAMILTON')
('GLEN', 'TALBERT')
('GLENDA', 'FRAZIER')
('GLENN', 'PULLEN')
('GLORIA', 'COOK')
('GORDON', 'ALLARD')
('GRACE', 'ELLIS')
('GREG', 'ROBINS')
('GREGORY', 'MAULDIN')
('GUY', 'BROWNLEE')
('GWENDOLYN', 'MAY')
('HAROLD', 'MARTINO')
('HARRY', 'ARCE')
('HARVEY', 'GUAJARDO')
('HAZEL', 'WARREN')
('HEATHER', 'MORRIS')
('HECTOR', 'POINDEXTER')
('HEIDI', 'LARSON')
('HELEN', 'HARRIS')
('HENRY', 'BILLINGSLEY')
('HERBERT', 'KRUGER')
('HERMAN', 'DEVORE')
('HILDA', 'HOPKINS')
('HOLLY', 'FOX')
('HOWARD', 'FORTNER')
('HUGH', 'WALDROP')
('IAN', 'STILL')
('IDA', 'ANDREWS')
('IRENE', 'PRICE')
('IRMA', 'PEARSON')
('ISAAC', 'OGLESBY')
('IVAN', 'CROMWELL')
('JACK', 'FOUST')
('JACKIE', 'LYNCH')
('JACOB', 'LANCE')
('JACQUELINE', 'LONG')
('JAIME', 'NETTLES')
('JAMES', 'GANNON')
('JAMIE', 'RICE')
('JAMIE', 'WAUGH')
('JANE', 'BENNETT')
('JANET', 'PHILLIPS')
('JANICE', 'WARD')
('JARED', 'ELY')
('JASON', 'MORRISSEY')
('JAVIER', 'ELROD')
('JAY', 'ROBB')
('JEAN', 'BELL')
('JEANETTE', 'GREENE')
('JEANNE', 'LAWSON')
('JEFF', 'EAST')
('JEFFERY', 'PINSON')
('JEFFREY', 'SPEAR')
('JENNIE', 'TERRY')
('JENNIFER', 'DAVIS')
('JENNY', 'CASTRO')
('JEREMY', 'HURTADO')
('JEROME', 'KENYON')
('JERRY', 'JORDON')
('JESSE', 'SCHILLING')
('JESSICA', 'HALL')
('JESSIE', 'BANKS')
('JESSIE', 'MILAM')
('JESUS', 'MCCARTNEY')
('JILL', 'HAWKINS')
('JIM', 'REA')
('JIMMIE', 'EGGLESTON')
('JIMMY', 'SCHRADER')
('JO', 'FOWLER')
('JOAN', 'COOPER')
('JOANN', 'GARDNER')
('JOANNE', 'ROBERTSON')
('JOE', 'GILLILAND')
('JOEL', 'FRANCISCO')
('JOHN', 'FARNSWORTH')
('JOHNNIE', 'CHISHOLM')
('JOHNNY', 'TURPIN')
('Jon', 'Stephens')
('JON', 'WILES')
('JONATHAN', 'SCARBOROUGH')
('JORDAN', 'ARCHULETA')
('JORGE', 'OLIVARES')
('JOSE', 'ANDREW')
('JOSEPH', 'JOY')
('JOSEPHINE', 'GOMEZ')
('JOSHUA', 'MARK')
('JOY', 'GEORGE')
('JOYCE', 'EDWARDS')
('JUAN', 'FRALEY')
('JUANITA', 'MASON')
('JUDITH', 'COX')
('JUDY', 'GRAY')
('JULIA', 'FLORES')
('JULIAN', 'VEST')
('JULIE', 'SANCHEZ')
('JULIO', 'NOLAND')
('JUNE', 'CARROLL')
('JUSTIN', 'NGO')
('KAREN', 'JACKSON')
('KARL', 'SEAL')
('KATHERINE', 'RIVERA')
('KATHLEEN', 'ADAMS')
('KATHRYN', 'COLEMAN')
('KATHY', 'JAMES')
('KATIE', 'ELLIOTT')
('KAY', 'CALDWELL')
('KEITH', 'RICO')
('KELLY', 'KNOTT')
('KELLY', 'TORRES')
('KEN', 'PREWITT')
('KENNETH', 'GOODEN')
('KENT', 'ARSENAULT')
('KEVIN', 'SCHULER')
('KIM', 'CRUZ')
('KIMBERLY', 'LEE')
('KIRK', 'STCLAIR')
('KRISTEN', 'CHAVEZ')
('KRISTIN', 'JOHNSTON')
('KRISTINA', 'CHAMBERS')
('KURT', 'EMMONS')
('KYLE', 'SPURLOCK')
('LANCE', 'PEMBERTON')
('LARRY', 'THRASHER')
('LAURA', 'RODRIGUEZ')
('LAUREN', 'HUDSON')
('LAURIE', 'LAWRENCE')
('LAWRENCE', 'LAWTON')
('LEAH', 'CURTIS')
('LEE', 'HAWKS')
('LENA', 'JENSEN')
('LEO', 'EBERT')
('LEON', 'BOSTIC')
('LEONA', 'OBRIEN')
('LEONARD', 'SCHOFIELD')
('LEROY', 'BUSTAMANTE')
('LESLIE', 'GORDON')
('LESLIE', 'SEWARD')
('LESTER', 'KRAUS')
('LEWIS', 'LYMAN')
('LILLIAN', 'GRIFFIN')
('LILLIE', 'KIM')
('LINDA', 'WILLIAMS')
('LISA', 'ANDERSON')
('LLOYD', 'DOWD')
('LOIS', 'BUTLER')
('LONNIE', 'TIRADO')
('LORETTA', 'CARPENTER')
('LORI', 'WOOD')
('LORRAINE', 'STEPHENS')
('LOUIS', 'LEONE')
('LOUISE', 'JENKINS')
('LUCILLE', 'HOLMES')
('LUCY', 'WHEELER')
('LUIS', 'YANEZ')
('LYDIA', 'BURKE')
('LYNN', 'PAYNE')
('MABEL', 'HOLLAND')
('MAE', 'FLETCHER')
('MANUEL', 'MURRELL')
('MARC', 'OUTLAW')
('MARCIA', 'DEAN')
('MARCUS', 'HIDALGO')
('MARGARET', 'MOORE')
('MARGIE', 'WADE')
('MARIA', 'MILLER')
('MARIAN', 'MENDOZA')
('MARIE', 'TURNER')
('MARILYN', 'ROSS')
('MARIO', 'CHEATHAM')
('MARION', 'OCAMPO')
('MARION', 'SNYDER')
('MARJORIE', 'TUCKER')
('MARK', 'RINEHART')
('MARLENE', 'WELCH')
('MARSHA', 'DOUGLAS')
('MARSHALL', 'THORN')
('MARTHA', 'GONZALEZ')
('MARTIN', 'BALES')
('MARVIN', 'YEE')
('MARY', 'SMITH')
('MATHEW', 'BOLIN')
('MATTHEW', 'MAHAN')
('MATTIE', 'HOFFMAN')
('MAUREEN', 'LITTLE')
('MAURICE', 'CRAWLEY')
('MAX', 'PITT')
('MAXINE', 'SILVA')
('MEGAN', 'PALMER')
('MELANIE', 'ARMSTRONG')
('MELINDA', 'FERNANDEZ')
('MELISSA', 'KING')
('MELVIN', 'ELLINGTON')
('MICHAEL', 'SILVERMAN')
('MICHEAL', 'FORMAN')
('MICHELE', 'GRANT')
('MICHELLE', 'CLARK')
('MIGUEL', 'BETANCOURT')
('Mike', 'Hillyer')
('MIKE', 'WAY')
('MILDRED', 'BAILEY')
('MILTON', 'HOWLAND')
('MINNIE', 'ROMERO')
('MIRIAM', 'MCKINNEY')
('MISTY', 'LAMBERT')
('MITCHELL', 'WESTMORELAND')
('MONICA', 'HICKS')
('MORRIS', 'MCCARTER')
('MYRTLE', 'FLEMING')
('NANCY', 'THOMAS')
('NAOMI', 'JENNINGS')
('NATALIE', 'MEYER')
('NATHAN', 'RUNYON')
('NATHANIEL', 'ADAM')
('NEIL', 'RENNER')
('NELLIE', 'GARRETT')
('NELSON', 'CHRISTENSON')
('NICHOLAS', 'BARFIELD')
('NICOLE', 'PETERSON')
('NINA', 'SOTO')
('NORA', 'HERRERA')
('NORMA', 'GONZALES')
('NORMAN', 'CURRIER')
('OLGA', 'JIMENEZ')
('OSCAR', 'AQUINO')
('PAMELA', 'BAKER')
('PATRICIA', 'JOHNSON')
('PATRICK', 'NEWSOM')
('PATSY', 'DAVIDSON')
('PAUL', 'TROUT')
('PAULA', 'BRYANT')
('PAULINE', 'HENRY')
('PEARL', 'GARZA')
('PEDRO', 'CHESTNUT')
('PEGGY', 'MYERS')
('PENNY', 'NEAL')
('PERRY', 'SWAFFORD')
('PETER', 'MENARD')
('PHILIP', 'CAUSEY')
('PHILLIP', 'HOLM')
('PHYLLIS', 'FOSTER')
('PRISCILLA', 'LOWE')
('RACHEL', 'BARNES')
('RAFAEL', 'ABNEY')
('RALPH', 'MADRIGAL')
('RAMON', 'CHOATE')
('RAMONA', 'HALE')
('RANDALL', 'NEUMANN')
('RANDY', 'GAITHER')
('RAUL', 'FORTIER')
('RAY', 'HOULE')
('RAYMOND', 'MCWHORTER')
('REBECCA', 'SCOTT')
('REGINA', 'BERRY')
('REGINALD', 'KINDER')
('RENE', 'MCALISTER')
('RENEE', 'LANE')
('RHONDA', 'KENNEDY')
('RICARDO', 'MEADOR')
('RICHARD', 'MCCRARY')
('RICK', 'MATTOX')
('RICKY', 'SHELBY')
('RITA', 'GRAHAM')
('ROBERT', 'BAUGHMAN')
('ROBERTA', 'HARPER')
('ROBERTO', 'VU')
('ROBIN', 'HAYES')
('RODNEY', 'MOELLER')
('ROGER', 'QUINTANILLA')
('ROLAND', 'SOUTH')
('RON', 'DELUCA')
('RONALD', 'WEINER')
('RONNIE', 'RICKETTS')
('ROSA', 'REYNOLDS')
('ROSE', 'HOWARD')
('ROSEMARY', 'SCHMIDT')
('ROSS', 'GREY')
('ROY', 'WHITING')
('RUBEN', 'GEARY')
('RUBY', 'WASHINGTON')
('RUSSELL', 'BRINSON')
('RUTH', 'MARTINEZ')
('RYAN', 'SALISBURY')
('SALLY', 'PIERCE')
('SALVADOR', 'TEEL')
('SAM', 'MCDUFFIE')
('SAMANTHA', 'DUNCAN')
('SAMUEL', 'MARLOW')
('SANDRA', 'MARTIN')
('SARA', 'PERRY')
('SARAH', 'LEWIS')
('SCOTT', 'SHELLEY')
('SEAN', 'DOUGLASS')
('SERGIO', 'STANFIELD')
('SETH', 'HANNON')
('SHANE', 'MILLARD')
('SHANNON', 'FREEMAN')
('SHARON', 'ROBINSON')
('SHAWN', 'HEATON')
('SHEILA', 'WELLS')
('SHELLY', 'WATTS')
('SHERRI', 'RHODES')
('SHERRY', 'MARSHALL')
('SHIRLEY', 'ALLEN')
('SIDNEY', 'BURLESON')
('SONIA', 'GREGORY')
('STACEY', 'MONTGOMERY')
('STACY', 'CUNNINGHAM')
('STANLEY', 'SCROGGINS')
('STELLA', 'MORENO')
('STEPHANIE', 'MITCHELL')
('STEPHEN', 'QUALLS')
('STEVE', 'MACKENZIE')
('STEVEN', 'CURLEY')
('SUE', 'PETERS')
('SUSAN', 'WILSON')
('SUZANNE', 'NICHOLS')
('SYLVIA', 'ORTIZ')
('TAMARA', 'NGUYEN')
('TAMMY', 'SANDERS')
('TANYA', 'GILBERT')
('TARA', 'RYAN')
('TED', 'BREAUX')
('TERESA', 'ROGERS')
('TERRANCE', 'ROUSH')
('TERRENCE', 'GUNDERSON')
('TERRI', 'VASQUEZ')
('TERRY', 'CARLSON')
('TERRY', 'GRISSOM')
('THELMA', 'MURRAY')
('THEODORE', 'CULP')
('THERESA', 'WATSON')
('THOMAS', 'GRIGSBY')
('TIFFANY', 'JORDAN')
('TIM', 'CARY')
('TIMOTHY', 'BUNN')
('TINA', 'SIMMONS')
('TODD', 'TAN')
('TOM', 'MILNER')
('TOMMY', 'COLLAZO')
('TONI', 'HOLT')
('TONY', 'CARRANZA')
('TONYA', 'CHAPMAN')
('TRACEY', 'BARRETT')
('TRACY', 'COLE')
('TRACY', 'HERRMANN')
('TRAVIS', 'ESTEP')
('TROY', 'QUIGLEY')
('TYLER', 'WREN')
('TYRONE', 'ASHER')
('VALERIE', 'BLACK')
('VANESSA', 'SIMS')
('VELMA', 'LUCAS')
('VERA', 'MCCOY')
('VERNON', 'CHAPA')
('VERONICA', 'STONE')
('VICKI', 'FIELDS')
('VICKIE', 'BREWER')
('VICTOR', 'BARKLEY')
('VICTORIA', 'GIBSON')
('VINCENT', 'RALSTON')
('VIOLA', 'HANSON')
('VIOLET', 'RODRIQUEZ')
('VIRGIL', 'WOFFORD')
('VIRGINIA', 'GREEN')
('VIVIAN', 'RUIZ')
('WADE', 'DELVALLE')
('WALLACE', 'SLONE')
('WALTER', 'PERRYMAN')
('WANDA', 'PATTERSON')
('WARREN', 'SHERROD')
('WAYNE', 'TRUONG')
('WENDY', 'HARRISON')
('WESLEY', 'BULL')
('WILLARD', 'LUMPKIN')
('WILLIAM', 'SATTERFIELD')
('WILLIE', 'HOWELL')
('WILLIE', 'MARKHAM')
('WILMA', 'RICHARDS')
('YOLANDA', 'WEAVER')
('YVONNE', 'WATKINS')
('ZACHARY', 'HITE')

In [59]:
ia.sender(answer="sql_ex09", task="views", question="ex09", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex09', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Desafios!

Faça uma lista de filmes que tenham mais de dois atores cujo nome inicia com a mesma letra do título do filme! Apresente o nome e a quantidade de atores. Ordene pelo id do filme. Dica: Pesquie a função `LEFT`

In [60]:
sql_ex10 = """
SELECT f.title, COUNT(a.actor_id) as num_actors
FROM film f
INNER JOIN film_actor USING (film_id)
INNER JOIN actor a USING (actor_id)
-- primeira letra do filme e do ator são iguais
WHERE LEFT(f.title, 1) = LEFT(a.first_name, 1)
GROUP BY f.film_id
HAVING num_actors > 2
ORDER BY num_actors ASC

"""
db(sql_ex10)

Executando query:
('CROW GREASE', 3)
('JEDI BENEATH', 3)
('SUBMARINE BED', 3)

In [61]:
ia.sender(answer="sql_ex10", task="views", question="ex10", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex10', style=ButtonStyle()), Output()), _dom_classes=('widget…

Semana do "DAN HARRIS": liste os clientes (nome e sobrenome) que nunca assistiram um filme do ator "DAN HARRIS" ou que já assistiram mas a ultima vez em que assistiram um filme dele foi antes de '2005-06-01'. Ordene pelo nome e sobrenome do cliente.

Considerem que a pessoa pode ter assistido um filme de Dan Harris se:

- Devolveu em 2005-06-01 ou depois
- Alugou em 2005-06-01 ou depois
- Alugou antes de 2005-06-01 e ainda não devolveu

In [62]:
sql_ex11 = """
SELECT DISTINCT c.first_name, c.last_name
FROM customer c
LEFT JOIN (
    SELECT DISTINCT r.customer_id
    FROM rental r
    INNER JOIN inventory i ON r.inventory_id = i.inventory_id
    INNER JOIN film f ON i.film_id = f.film_id
    INNER JOIN film_actor fa ON f.film_id = fa.film_id
    INNER JOIN actor a ON fa.actor_id = a.actor_id
    WHERE (a.first_name = 'DAN' AND a.last_name = 'HARRIS')
        AND (r.rental_date >= '2005-06-01' OR r.rental_date IS NULL OR r.return_date >= '2005-06-01')
) AS dan_harris_customers ON c.customer_id = dan_harris_customers.customer_id
WHERE dan_harris_customers.customer_id IS NULL
ORDER BY c.first_name, c.last_name;

"""
db(sql_ex11)

Executando query:
('AARON', 'SELBY')
('AGNES', 'BISHOP')
('ALAN', 'KAHN')
('ALBERT', 'CROUSE')
('ALICIA', 'MILLS')
('ALLAN', 'CORNISH')
('ALLEN', 'BUTTERFIELD')
('ALLISON', 'STANLEY')
('AMANDA', 'CARTER')
('AMY', 'LOPEZ')
('ANA', 'BRADLEY')
('ANDREA', 'HENDERSON')
('ANDREW', 'PURDY')
('ANGEL', 'BARCLAY')
('ANITA', 'MORALES')
('ANN', 'EVANS')
('ANNA', 'HILL')
('ANNE', 'POWELL')
('ANNETTE', 'OLSON')
('ANNIE', 'RUSSELL')
('ANTHONY', 'SCHWAB')
('ANTONIO', 'MEEK')
('ARMANDO', 'GRUBER')
('AUDREY', 'RAY')
('AUSTIN', 'CINTRON')
('BEATRICE', 'ARNOLD')
('BECKY', 'MILES')
('BEN', 'EASTER')
('BERNARD', 'COLBY')
('BESSIE', 'MORRISON')
('BETH', 'FRANKLIN')
('BILLIE', 'HORTON')
('BILLY', 'POULIN')
('BOB', 'PFEIFFER')
('BRAD', 'MCCURDY')
('BRANDY', 'GRAVES')
('BRENT', 'HARKINS')
('BRETT', 'CORNWELL')
('BRIAN', 'WYMAN')
('BRITTANY', 'RILEY')
('BYRON', 'BOX')
('CALVIN', 'MARTEL')
('CARLA', 'GUTIERREZ')
('CAROLE', 'BARNETT')
('CARRIE', 'PORTER')
('CASEY', 'MENA')
('CATHY', 'SPENCER')
('CECIL', 'VINES')
('CHARLES', 'KOWALSKI')
('CHARLOTTE', 'HUNTER')
('CHERYL', 'MURPHY')
('CHESTER', 'BENNER')
('CHRISTIAN', 'JUNG')
('CHRISTINA', 'RAMIREZ')
('CHRISTINE', 'ROBERTS')
('CHRISTOPHER', 'GRECO')
('CLARA', 'SHAW')
('CLARENCE', 'GAMEZ')
('CLAUDIA', 'FULLER')
('CODY', 'NOLEN')
('CONSTANCE', 'REID')
('COREY', 'HAUSER')
('COURTNEY', 'DAY')
('CRAIG', 'MORRELL')
('CRYSTAL', 'FORD')
('CURTIS', 'IRBY')
('CYNTHIA', 'YOUNG')
('DALE', 'RATCLIFF')
('DAN', 'PAINE')
('DANA', 'HART')
('DANIEL', 'CABRAL')
('DARREN', 'WINDHAM')
('DAVE', 'GARDINER')
('DAWN', 'SULLIVAN')
('DEANNA', 'BYRD')
('DEBBIE', 'REYES')
('DELORES', 'HANSEN')
('DEREK', 'BLAKELY')
('DIANA', 'ALEXANDER')
('DIANE', 'COLLINS')
('DIANNE', 'SHELTON')
('DON', 'BONE')
('DONALD', 'MAHON')
('DORA', 'MEDINA')
('DUANE', 'TUBBS')
('DUSTIN', 'GILLETTE')
('DWIGHT', 'LOMBARDI')
('EDDIE', 'TOMLIN')
('EDITH', 'MCDONALD')
('EDNA', 'WEST')
('EDUARDO', 'HIATT')
('EDWIN', 'BURK')
('EILEEN', 'CARR')
('ELEANOR', 'HUNT')
('ELIZABETH', 'BROWN')
('ELLA', 'OLIVER')
('ELLEN', 'SIMPSON')
('EMILY', 'DIAZ')
('ERIC', 'ROBERT')
('ERICA', 'MATTHEWS')
('ERIK', 'GUILLEN')
('ERIKA', 'PENA')
('ERIN', 'DUNN')
('ERNEST', 'STEPP')
('ETHEL', 'WEBB')
('EUGENE', 'CULPEPPER')
('EVA', 'RAMOS')
('EVELYN', 'MORGAN')
('FELIX', 'GAFFNEY')
('FLORENCE', 'WOODS')
('FLOYD', 'GANDY')
('FRANCISCO', 'SKIDMORE')
('FRANKLIN', 'TROUTMAN')
('GAIL', 'KNIGHT')
('GARY', 'COY')
('GENE', 'SANBORN')
('GEORGE', 'LINTON')
('GEORGIA', 'JACOBS')
('GERALDINE', 'PERKINS')
('GILBERT', 'SLEDGE')
('GINA', 'WILLIAMSON')
('GLEN', 'TALBERT')
('GLENDA', 'FRAZIER')
('GLORIA', 'COOK')
('GREGORY', 'MAULDIN')
('GWENDOLYN', 'MAY')
('HAROLD', 'MARTINO')
('HARRY', 'ARCE')
('HARVEY', 'GUAJARDO')
('HAZEL', 'WARREN')
('HEIDI', 'LARSON')
('HENRY', 'BILLINGSLEY')
('HERMAN', 'DEVORE')
('HUGH', 'WALDROP')
('IAN', 'STILL')
('IDA', 'ANDREWS')
('IRMA', 'PEARSON')
('JACK', 'FOUST')
('JAMIE', 'WAUGH')
('JANE', 'BENNETT')
('JANICE', 'WARD')
('JEAN', 'BELL')
('JEANETTE', 'GREENE')
('JEANNE', 'LAWSON')
('JEFFREY', 'SPEAR')
('JENNY', 'CASTRO')
('JEREMY', 'HURTADO')
('JEROME', 'KENYON')
('JESSIE', 'BANKS')
('JESUS', 'MCCARTNEY')
('JILL', 'HAWKINS')
('JIM', 'REA')
('JO', 'FOWLER')
('JOAN', 'COOPER')
('JOE', 'GILLILAND')
('JORDAN', 'ARCHULETA')
('JOSEPHINE', 'GOMEZ')
('JOYCE', 'EDWARDS')
('JUANITA', 'MASON')
('JUDITH', 'COX')
('JULIE', 'SANCHEZ')
('KAREN', 'JACKSON')
('KARL', 'SEAL')
('KATHERINE', 'RIVERA')
('KATIE', 'ELLIOTT')
('KAY', 'CALDWELL')
('KELLY', 'TORRES')
('KENNETH', 'GOODEN')
('KIM', 'CRUZ')
('KIMBERLY', 'LEE')
('KIRK', 'STCLAIR')
('KRISTEN', 'CHAVEZ')
('KURT', 'EMMONS')
('LANCE', 'PEMBERTON')
('LAURA', 'RODRIGUEZ')
('LAURIE', 'LAWRENCE')
('LAWRENCE', 'LAWTON')
('LEAH', 'CURTIS')
('LENA', 'JENSEN')
('LEO', 'EBERT')
('LEONA', 'OBRIEN')
('LEONARD', 'SCHOFIELD')
('LESLIE', 'SEWARD')
('LILLIAN', 'GRIFFIN')
('LINDA', 'WILLIAMS')
('LISA', 'ANDERSON')
('LLOYD', 'DOWD')
('LONNIE', 'TIRADO')
('LORRAINE', 'STEPHENS')
('LOUISE', 'JENKINS')
('LUCILLE', 'HOLMES')
('LUIS', 'YANEZ')
('LYDIA', 'BURKE')
('LYNN', 'PAYNE')
('MARGARET', 'MOORE')
('MARIE', 'TURNER')
('MARION', 'SNYDER')
('MARJORIE', 'TUCKER')
('MARK', 'RINEHART')
('MARTHA', 'GONZALEZ')
('MARTIN', 'BALES')
('MARVIN', 'YEE')
('MARY', 'SMITH')
('MATTHEW', 'MAHAN')
('MAURICE', 'CRAWLEY')
('MEGAN', 'PALMER')
('MELANIE', 'ARMSTRONG')
('MELVIN', 'ELLINGTON')
('MICHELLE', 'CLARK')
('MIKE', 'WAY')
('MILDRED', 'BAILEY')
('MILTON', 'HOWLAND')
('MIRIAM', 'MCKINNEY')
('MISTY', 'LAMBERT')
('MITCHELL', 'WESTMORELAND')
('NANCY', 'THOMAS')
('NATALIE', 'MEYER')
('NATHAN', 'RUNYON')
('NATHANIEL', 'ADAM')
('NELLIE', 'GARRETT')
('NICHOLAS', 'BARFIELD')
('NICOLE', 'PETERSON')
('NORMA', 'GONZALES')
('PAMELA', 'BAKER')
('PATRICK', 'NEWSOM')
('PAUL', 'TROUT')
('PAULA', 'BRYANT')
('PAULINE', 'HENRY')
('PEGGY', 'MYERS')
('PENNY', 'NEAL')
('PETER', 'MENARD')
('PHILIP', 'CAUSEY')
('PHYLLIS', 'FOSTER')
('PRISCILLA', 'LOWE')
('RACHEL', 'BARNES')
('RAFAEL', 'ABNEY')
('RAMON', 'CHOATE')
('RANDALL', 'NEUMANN')
('RAUL', 'FORTIER')
('REBECCA', 'SCOTT')
('REGINA', 'BERRY')
('RENE', 'MCALISTER')
('RENEE', 'LANE')
('RICARDO', 'MEADOR')
('RICHARD', 'MCCRARY')
('ROBERT', 'BAUGHMAN')
('ROBERTA', 'HARPER')
('ROLAND', 'SOUTH')
('ROSA', 'REYNOLDS')
('ROY', 'WHITING')
('RUSSELL', 'BRINSON')
('RYAN', 'SALISBURY')
('SAM', 'MCDUFFIE')
('SAMANTHA', 'DUNCAN')
('SANDRA', 'MARTIN')
('SARA', 'PERRY')
('SHANE', 'MILLARD')
('SHARON', 'ROBINSON')
('SHERRI', 'RHODES')
('STACEY', 'MONTGOMERY')
('STEPHANIE', 'MITCHELL')
('STEPHEN', 'QUALLS')
('STEVE', 'MACKENZIE')
('SYLVIA', 'ORTIZ')
('TAMMY', 'SANDERS')
('TARA', 'RYAN')
('TED', 'BREAUX')
('TERRENCE', 'GUNDERSON')
('TERRY', 'CARLSON')
('TERRY', 'GRISSOM')
('THERESA', 'WATSON')
('THOMAS', 'GRIGSBY')
('TODD', 'TAN')
('TONI', 'HOLT')
('TONY', 'CARRANZA')
('TONYA', 'CHAPMAN')
('TRACY', 'COLE')
('TROY', 'QUIGLEY')
('VALERIE', 'BLACK')
('VERA', 'MCCOY')
('VERNON', 'CHAPA')
('VICKI', 'FIELDS')
('VICTORIA', 'GIBSON')
('VIOLA', 'HANSON')
('VIOLET', 'RODRIQUEZ')
('VIRGINIA', 'GREEN')
('WALTER', 'PERRYMAN')
('WANDA', 'PATTERSON')
('WARREN', 'SHERROD')
('WAYNE', 'TRUONG')
('WENDY', 'HARRISON')
('WESLEY', 'BULL')
('WILLARD', 'LUMPKIN')
('WILLIAM', 'SATTERFIELD')
('WILLIE', 'MARKHAM')
('WILMA', 'RICHARDS')
('YVONNE', 'WATKINS')

In [63]:
ia.sender(answer="sql_ex11", task="views", question="ex11", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex11', style=ButtonStyle()), Output()), _dom_classes=('widget…

- Faça uma consulta que retorne, para cada ator, a seguinte informação:

| first_name | last_name | filmes por categoria |
|--|--|--|
| PENELOPE | GUINESS | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER |
| NICK | WAHLBERG | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING |
| etc | etc | etc |

Ordene pelo nome e sobrenome do ator.

Dica: use `GROUP_CONCAT` para agrupar todas as strings de uma coluna em uma string só, e `CONCAT` para unir strings particulares.

In [70]:
sql_ex12 = """
SELECT a.first_name,a.last_name,group_concat(cat_films SEPARATOR '; ') FROM actor a
INNER JOIN (
SELECT a.actor_id,a.first_name,a.last_name, concat(e.name,': ',group_concat(c.title ORDER BY c.title ASC SEPARATOR ', ')) as cat_films FROM  actor a 
LEFT JOIN film_actor b USING (actor_id)
LEFT JOIN film c USING (film_id)
LEFT JOIN film_category d USING (film_id)
LEFT JOIN category e USING (category_id)
GROUP BY a.actor_id,e.name
ORDER BY actor_id,cat_films asc) as b USING (actor_id)
GROUP BY a.actor_id
ORDER BY a.first_name,a.last_name
"""

db(sql_ex12)

OperationalError: MySQL Connection not available.

In [65]:
ia.sender(answer="sql_ex12", task="views", question="ex12", answer_type="pyvar")

interactive(children=(Button(description='Enviar ex12', style=ButtonStyle()), Output()), _dom_classes=('widget…

## Conclusão

Façamos uma pausa para apreciar quão longe estamos: já conseguimos criar nossas tabelas, inserir informação, removê-la, atualizá-la, e consultar nossa base de maneiras bem sofisticadas! Vimos desde `SELECT` simples até buscas mais complexas envolvendo várias etapas de processamento para obter o dado desejado.

Por hoje é só, feche sua conexão e bom descanso!

In [66]:
connection.close()

## Conferir Notas

Confira se as notas na atividade são as esperadas!

Primeiro na atividade atual!

In [71]:
ia.grades(by="TASK", task="views")

|    | Tarefa   |   Nota |
|---:|:---------|-------:|
|  0 | views    |     10 |

In [72]:
ia.grades(task="views")

|    | Atividade   | Exercício   |   Peso |   Nota |
|---:|:------------|:------------|-------:|-------:|
|  0 | views       | ex01        |      1 |     10 |
|  1 | views       | ex02        |      1 |     10 |
|  2 | views       | ex03        |      1 |     10 |
|  3 | views       | ex04        |      1 |     10 |
|  4 | views       | ex05        |      1 |     10 |
|  5 | views       | ex06        |      1 |     10 |
|  6 | views       | ex07        |      1 |     10 |
|  7 | views       | ex08        |      1 |     10 |
|  8 | views       | ex09        |      1 |     10 |
|  9 | views       | ex10        |      1 |     10 |
| 10 | views       | ex11        |      1 |     10 |
| 11 | views       | ex12        |      1 |     10 |

In [73]:
ia.grades(by="task")

|    | Tarefa       |   Nota |
|---:|:-------------|-------:|
|  0 | agg_join     |  10    |
|  1 | ddl          |  10    |
|  2 | dml          |  10    |
|  3 | group_having |  10    |
|  4 | newborn      |  10    |
|  5 | permissions  |   5.38 |
|  6 | select01     |  10    |
|  7 | sql_review1  |   4    |
|  8 | views        |  10    |