TIPOS DE OPERAÇÕES NO SQL 
=========================

DDL (Data Definition Language)
-----------------------------
- CREATE: criação de tabelas, índices, etc.
- ALTER: alteração de tabelas, índices, etc.
- DROP: exclusão de tabelas, índices, etc.
- TRUNCATE: limpeza de tabelas.
- COMMENT: adição de comentários em tabelas, colunas, etc.

DML (Data Manipulation Language)
--------------------------------

- SELECT: consulta de dados.
- INSERT: inserção de dados.
- UPDATE: atualização de dados.
- DELETE: exclusão de dados.

DCL (Data Control Language)
---------------------------

- GRANT: concede privilégios.
- REVOKE: revoga privilégios.

sql_ex09 = """
CREATE TABLE IF NOT EXISTS usuario_has_comunidade(
id_usuario INT NOT NULL,
id_comunidade INT NOT NULL,
PRIMARY KEY (id_usuario, id_comunidade)
);
ALTER TABLE usuario_has_comunidade ADD FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario);
ALTER TABLE usuario_has_comunidade ADD FOREIGN KEY (id_comunidade) REFERENCES comunidade(id_comunidade);
"""


#### EXEMPLO DE CRIAÇÃO DE TABELA COM COLUNA IDENTIFICADORA POR CONTA DAS CHAVES ESTRANGEIRAS QUE TAMÉM SÃO CHAVES PRIMÁRIAS
=======================================================================================================================

Me de exemplo de criação de tabela com foreign key :

```sql
CREATE TABLE IF NOT EXISTS usuario_has_comunidade(
id_usuario INT NOT NULL,
id_comunidade INT NOT NULL,
PRIMARY KEY (id_usuario, id_comunidade)
);
ALTER TABLE usuario_has_comunidade ADD FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario);
ALTER TABLE usuario_has_comunidade ADD FOREIGN KEY (id_comunidade) REFERENCES comunidade(id_comunidade);
```

Neste exemplo, a tabela `usuario_has_comunidade` possui duas colunas `id_usuario` e `id_comunidade` que são chaves estrangeiras e chaves primárias ao mesmo tempo. A chave primária é composta pelas duas colunas. As chaves estrangeiras referenciam as tabelas `usuario` e `comunidade` respectivamente.


é possível criar as chaves junto com a criação da tabela, como no exemplo abaixo:

```sql
CREATE TABLE IF NOT EXISTS usuario_has_comunidade(
id_usuario INT NOT NULL,
id_comunidade INT NOT NULL,
PRIMARY KEY (id_usuario, id_comunidade),
FOREIGN KEY (id_usuario) REFERENCES usuario(id_usuario),
FOREIGN KEY (id_comunidade) REFERENCES comunidade(id_comunidade)
);
```

### Exemplos de query que modificam a estrutura de uma tabela

```sql
ALTER TABLE usuario_has_comunidade ADD COLUMN data_criacao DATE;
ALTER TABLE usuario_has_comunidade DROP COLUMN data_criacao;
ALTER TABLE usuario_has_comunidade MODIFY COLUMN id_usuario INT NOT NULL;
ALTER TABLE usuario_has_comunidade RENAME TO usuario_comunidade;
```

### Exemplos de query que insere, atualiza e deleta dados

```sql
INSERT INTO usuario_has_comunidade (id_usuario, id_comunidade) VALUES (1, 1);
UPDATE usuario_has_comunidade SET id_usuario = 2 WHERE id_usuario = 1;
DELETE FROM usuario_has_comunidade WHERE id_usuario = 2;
```

### Exemplo que insere a partir de um select

```sql
INSERT INTO usuario_has_comunidade (id_usuario, id_comunidade) SELECT id_usuario, id_comunidade FROM usuario_comunidade WHERE id_usuario = 1;
```

### Exemplo de query que concede e revoga privilégios

```sql
GRANT SELECT, INSERT ON usuario_has_comunidade TO user1;
REVOKE INSERT ON usuario_has_comunidade FROM user1;
```

### Exemplo de query que cria usuário 

```sql
CREATE USER 'user1'@'localhost' IDENTIFIED BY 'password';
```
##### Agora com acesso a qualquer host

```sql
CREATE USER 'user1'@'%' IDENTIFIED BY 'password';
```